body {
    font-family: Arial;
    padding: 20px;
}

header a {
    margin-right: 15px;
    cursor: pointer;
    color: blue;
}

.item {
    border:1px solid #ccc;
    padding: 10px;
    margin: 10px;
}
